<% comment = object[0] %>
<comment class="votable">
  <% if can? :vote, comment %>
    <div class="btn-group">
      <%= voting_button :up, comment %>
      <%= voting_button :down, comment %>
  	</div>
  <% end %>
  <strong><%= link_to comment.username, user_path(comment.user) %></strong>
  on <%= comment.created_at.to_s(:mdyt) %><%= " | "%> <span class="points"><%= pluralize(comment.points, "point") %></span>
  <% if object.include?(:link) %>
  	<%= " | "%><%= link_to "link", comment_path(comment) %>
  <% end %>
  <% if object.include?(:parent) %>
  	<%= " | "%><%= link_to "parent", comment.commentable %>
  <% end %>
  <% if can? :manage, comment %>
  	<%= " | "%><%= link_to "edit", edit_comment_path(comment)%><%= " | " %><%= link_to "delete", comment_path(comment), :method => :delete, :confirm => "Are you sure you want to delete this comment?" %>
  <% end %><br />
  <%= comment.content %><br /><br />
</comment>