<% for comment in object %>
	<div class="well">
		<%= render "comments/comment_head", :object => comment %>
		<%= " | "%><%= link_to "link", comment_path(comment) %><br />
		<%= comment.content %><br /><br />
		<%= link_to "reply", comment_path(comment) %><br /><br />
		<% if comment.comments.length != 0 %>
			<%= render "comments/list", :object => comment.comments %>
		<% end %>
	</div>
<% end %>

