<% if params[:by_user] %>
	<h3>Comments from <%= User.find(params[:by_user]).username %></h3><br />
<% else %>
	<h3>All Comments</h3>
<% end %>

<table class="table table-striped">
	<% @comments.each do |comment| %>
	<tr>
	<td>
		<strong><%= link_to comment.username, user_path(comment.user) %></strong>
		on <%= comment.created_at.to_s(:mdyt) %> | <%= link_to "link", comment_path(comment) %>
		 | <%= link_to "parent", comment.commentable %><br />
		<%= comment.content %><br /><br />
		<%= render "comments/list", :object => comment.comments %><br />
	</td>
	</tr>
	<% end %>
</table>
<%= will_paginate @comments %>