<p>
	<strong><%= link_to @comment.username, user_path(@comment.user) %></strong>
	<em>on <%= @comment.created_at.to_s(:mdyt) %> | <%= link_to "parent", @comment.commentable %></em><br />
	<%= @comment.content %><br />
</p>

<%= render "comments/form"%>
<%= render "comments/list", :object => @comments %><br />

<%= link_to 'All Articles', articles_path %>