<%= form_tag articles_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>
See top rated posts from 
<%= link_to "Today", articles_path(:this_day => "", :by_rating => "") %> |
<%= link_to "This Month", articles_path(:this_month => "", :by_rating => "") %> |
<%= link_to "This Year", articles_path(:this_year => "", :by_rating => "") %> |
<%= link_to "Alltime", articles_path(:by_rating => "") %> |
<%= link_to "Choose Time", pick_date_path %><br />
<table class="table table-striped">
	<thead>
	</thead>
	<tbody>
		<% @articles.each do |a| %>
		  <tr>
		    <td><h4><%= link_to a.title, a.link %> <%= "(" + a.short_link + ")" %></h4>
			<%= a.points.to_s + " points by " %> <%= link_to a.username, user_path(a.user) %> <%=", posted " + a.created_at.to_s(:mdy) + " | " %>
			<% if a.comment_count == 1 %>
				<%= link_to "1 comment", article_path(a) %></td>			
			<% else %>
				<%= link_to "#{a.comment_count} comments", article_path(a) %></td>
		  	<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @articles %>
</br>