We'll narrow our search as much as you narrow yours.<br />
- select Year = 2011, we'll show you everything from 2011.<br />
- select Year = 2011 and Month = June we'll show you everything from June in 2011.<br />
- select Year = 2011, Month = June, Day = 25 ... I think you get the idea.<br /><br />
<%= form_tag :action => 'pick_date' do %> 
	<label>Year:</label>
	<%= select_tag( 'year', options_for_select(Article::YEARS), :include_blank => true ) %> 
	<label>Month:</label> 
	<%= select_tag( 'month', options_for_select(Article::MONTHS), :include_blank => true ) %>
	<label>Day:</label> 
	<%= select_tag( 'day', options_for_select(Article::DAYS), :include_blank => true ) %><br /><br />
	<div class="actions">
		<%= submit_tag 'Submit Range' %>
	</div>
<% end %>