
<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Link:</b>
  <%= @article.link %>
</p>

<p>
  <b>Date added:</b>
  <%= @article.created_at.strftime("%b %d, %Y") %>
</p>

<p>
  <b>User:</b>
  <%= @article.show_user %>
</p>

<p>
  <b>Points:</b>
  <%= @article.points %>
</p>

<%= render "partials/comments_list"%>
<%= render "partials/comments_form"%><br />

<%= link_to 'Back', articles_path %>
