<p>
  	<h4><%= link_to @article.title, "http://" + @article.link %> <%= "(" + @article.link + ")" %></h4>
	<%= @article.points.to_s + " points by " %> <%= link_to @article.username, user_path(@article.user) %> <%=", posted " + @article.created_at.strftime("%b %d, %Y") %>
</p>

<p>
	
</p>	
	
<%= render "partials/comments_form"%>
<%= render "partials/comments_list"%><br />

<%= link_to 'Back', articles_path %>
