<p class="supertiny">&nbsp;</p>
<% if logged_in? %>
	<h3>Add a Comment</h3>
	<%= simple_form_for [@commentable, Comment.new], :html => { :class => 'form-horizontal' } do |f| %>
		<fieldset>
			<%= f.input :content %>
		    <%= f.association :user, :collection => [[current_user.username, current_user.id]], :include_blank => false %><br />


	    <div class="form-actions">
	      <%= f.submit nil, :class => 'btn btn-primary' %>
	      <%= link_to 'Cancel', comments_path, :class => 'btn' %>
	    </div>
	  </fieldset>
	<% end %>
<% else %>
	To add comments, you must <%= link_to "log in", login_path %><br />
<% end %>
