<%= simple_form_for @user do |f| %>
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<p>
	<h3><%= "#{@user.username}: Update Information" %></h3><br /><br />
    <%= f.input :about %><br />
	<%= f.input :email %><br />
    <%= f.input :password %><br />
	<%= f.input :password_confirmation %><br />
  <p><%= f.submit (@user.new_record? ? "Sign up" : "Update"), :class => 'btn' %>
     <%= link_to 'Cancel', articles_path, :class => 'btn' %></p>
<% end %>
