<%= simple_form_for @user do |f| %>
    <%= f.input :username %><br />
    <%= f.input :password %><br />
    <%= f.input :password_confirmation %><br />
  	<div class="actions">
  		<%= f.submit (@user.new_record? ? "Sign up" : "Update") %>
	</div>
<% end %>
