<%= form_tag :action => 'change_password' do %> 

<label>Enter old password</label> 
<%= password_field_tag('password[old_password]', nil) %><p> 

<label>Enter new password</label> 
<%= password_field_tag('password[new_password]', nil) %><p> 

<label>Confirm new password</label> 
<%= password_field_tag('password[new_password_confirmation]', nil) %><p> 
	
<div class="actions">
	<%= submit_tag 'Change password' %>
</div>
<% end %>