<h3><%= @user.username %></h3><br />
Created: <%= @user.created_at.to_s(:mdy) %><br /><br />


<%= link_to "Submissions" %><br />
<%= link_to "Comments (I'll get these two later)" %><br /><br />
<% if can? :update, @user %>
	<%= link_to "Edit Information", edit_user_path, :class => 'btn' %>
<% end %>

