<h4><%= @user.username %></h4><br />
Created: <%= @user.created_at.strftime("%b %d, %Y") %><br />
About:
<% if @user.about %>
	<%= @user.about %>
<% end %><br />
Email:
<% if @user.email %>
	<%= @user.email %>
<% end %><br /><br />


<%= link_to "Submissions" %><br />
<%= link_to "Comments (I'll get these two later)" %>

