<h3><%= @user.username %></h3><br />
Created: <%= @user.created_at.to_s(:mdy) %><br />

<% if @user == current_user %>
	<%= render 'edit_form' %>
<% else %>
	<% if @user.about %>
		About: <%= @user.about %><br />
	<% end %>
	<% if @user.email %>
		Email: <%= @user.email.empty? %><br />
	<% end %>
<% end %>
<br />

<%= link_to "Submissions", articles_path(:by_user => @user) %><br />
<%= link_to "Comments", comments_path(:by_user => @user) %><br />
<%= link_to "Upvoted", user_upvotes_path(@user) %><br /><br />
