<h2>Upvoted Articles</h2><br />
<table class="table table-striped">
  <tbody>
    <% @articles.each do |a| %>
      <tr>
        <td>
          <%= render "articles/article_head", :object => a %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @articles %>
<% if @articles.empty? %>
  <h4><%= "#{@user.username} has not upvoted any articles yet."%></h4>
<% end %>
</br>

<h2>Upvoted Comments</h2><br />
<% for comment in @comments %>
  <div class="well">
    <%= render "comments/comment_head", :object => [comment, :link, :parent] %>
    <%= link_to "reply", comment_path(comment) %><br /><br />
  </div>
<% end %>
<% if @comments.empty? %>
  <h4><%= "#{@user.username} has not upvoted any comments yet."%></h4>
<% end %>
