<!DOCTYPE html>
<html>
<head>
  <title>HaxxorNews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="well">
        <%= link_to "Home", articles_path %> | 
	    <%= link_to "submit", new_article_path %>
        	
		<% if logged_in? %>
			<p class="ident pull-right">
				Welcome, <%= current_user.user_name %> | <%= link_to "Logout", logout_path %>
			</p>
		<% else %>
			<%= link_to 'Login', login_path %>
		<% end %>
	</div>
	<p id="notice"><%= notice %></p>
	<%= yield %>
</body>
</html>
